<p>
  {%trans%}Your API key is{%endtrans%} {{api_key}}
</p>
<p>
  {%trans%}Usage example{%endtrans%}:
</p>
<pre><code>curl -H "x-user-weight: {{api_key}}" {{post_url}} -d '{"weight": "21.6"}'
</code></pre>
<h2>{%trans%}User weights{%endtrans%}</h2>
{{user_view}}
